*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat" , sans-serif;
}

.debug{
    border: 2px solid red;
}

:root{
    --color-dark: #141922;
    --color-darkgrey: #282828;
    --color-light: #ffffff;
    --color-black: #000000;
    --color-lightgrey: #c1c1c1;
    --color-highlight: #9ae22d;
    --color-redcolor: #ca1717;
}

/* FLEX UTILITIES */
.flex{
    display: flex;
}


.column{
    flex-direction: column;
}

.end{
    justify-content: flex-end;
}

.center{
    justify-content: center;
}

.gap-30{
    gap: 30px;
}

.gap-15{
    gap: 15px;
}

/* GENERAL UTILITIES */
.wrapper{
    height: 100vh;
    width: 100vw;
    color: white;
}

.container{
    flex: 1 1 auto;
    max-height: calc(100vh - 100px);
}


/* /////////////// */
/* LEFT SIDE */
/* /////////////// */
#left-side{
    flex: 0 0 230px;
    background-color: var(--color-black);
    height: 100%;
    padding: 10px;
}

nav .img{
    padding: 10px;
    display: inline-block;
    width: 45px;
}

nav img{
    width: 20px;
    vertical-align: middle;
}

#left-side h3{
    text-transform: uppercase;
}

#left-side .special{
    border-left: 4px solid var(--color-highlight);
    border-radius: 2px;
}

/* ////////////// */
/* RIGHT SIDE */
/* ///////////// */
#right-side{
    position: relative;
    flex: 1 1 auto;
    background-color: var(--color-dark);
    overflow-y: auto;
    
}
/* ///////////////// */
/* HEADER */
/* ///////////////// */
header{
    background-color: rgb(0, 0, 0, 0.9);
    position: sticky;
    top: 0;

}

span.hd-button{
    padding: 15px;
    margin: 15px;
    border-radius: 30px;
    border:  1px solid white;
    text-transform: uppercase;
}

a{
    text-decoration: none;
    color: white;
}

/* ///////////////// */
/* MAIN */
/* ///////////////// */
main{
    padding: 15px;
    
}

/* ///////////////// */
/* MENU */
/* ///////////////// */

ul{
    list-style: none;
}

#menu li{
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
}

#menu .special{
    width: 30px;
    border-bottom: 3px solid var(--color-highlight);
    padding: 5px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

/* /////////////// */
/* RECENTE */
/* /////////////// */

section:not(#menu){
    margin-top: 30px;
    margin-left: 30px;
}


.card{
    width: 20%;
    padding: 30px 0;
}
.img{
    width: 100%;
}

img{
    width: 100%;
}

#recente h3{
    text-align: center;
}

figure{
    color: grey;
}

#recente figure{
    text-align: center;
}

/* ////////////// */
/* HITS */
/* ///////////////// */

#hit .img{
    border-radius: 50%;
    overflow: hidden;
}


footer{
    flex: 0 0 100px;
    background-color: var(--color-darkgrey);
}







/* /////////////////////////// */
/* MEDIA QUERY */
/* /////////////////////////// */
@media screen and (max-width:576px) {
    #left-side{
        flex-basis: 70px;
    }
    
    .card{
        width: 40%;
    }

    .container{
        max-height: calc(100vh - 50px);
    }

    footer{
        flex-basis: 50px;
    }
    
}

@media screen and (max-width:768px) {
    
    
}

@media screen and (max-width:1024px) {
    .wrap{
        flex-wrap: wrap;
    }
}